/*Mobile View*/
.input-block-login {
  position: relative;
}

.input-block-login + .input-block-login {
  margin-top: 2.3rem;
}

.input-block-login .input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

.text-input-login {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.5rem;
  pointer-events: none;
  color: var(--color-text-base);
  font: 1.6rem Archivo;
}

.text-input-login::after {
  content: attr(data-placeholder);
  position: absolute;
  top: 2.7rem;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus + .text-input-login::after {
  top: -15px;
}

.input:focus + .text-input-login::before {
  width: 100%;
}

.has-val + .text-input-login::after {
  top: -15px;
}

.has-val + .text-input-login::before {
  width: 100%;
}
