/*Mobile View*/
.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 2.3rem;
}

.input-block .input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

.text-input {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.5rem;
  pointer-events: none;
  color: var(--color-text-base);
  font: 1.6rem Archivo;
}

/* .text-input::before,
.text-input::after {
  content: '';
  position: absolute;
  top: 2.7rem;
  transition: all 0.4s;
} */

.text-input::after {
  content: attr(data-placeholder);
  position: absolute;
  top: 2.7rem;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus + .text-input::after {
  top: -15px;
}

.input:focus + .text-input::before {
  width: 100%;
}

.has-val + .text-input::after {
  top: -15px;
}

.has-val + .text-input::before {
  width: 100%;
}
